#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.skills-wrap {
  gap: 1rem;
}

.singleSkill {
  background-color: rgb(15, 15, 15);
  width: auto;
  border-radius: 5px;
  gap: 0.75rem;
}

.singleSkill img {
  width: auto;
  height: 40px;
}
