body {
  background-color: #000;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.blackWhite {
  filter: grayscale(1);
}

#main {
  position: relative;
  z-index: 0;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.light .singleSkill {
  color: #0f0f0f;
  border: 1px solid #0f0f0f;
  background-color: #ebebeb;
}

.light .project-details {
  color: #000000;
  background-color: #f1f1f1;
}

.light #avatar img {
  background-color: #000000;
}

.light .project-image {
  border-bottom: 1px solid;
}

.light .single-project {
  background-color: #fff;
}

h2 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.App {
  text-align: center;
}

@keyframes react {
  0% {
    transform: matrix(
        -0.9912608861923218,
        0.13191595673561096,
        -0.13191595673561096,
        -0.9912608861923218,
        467.6633605957031,
        250.3909912109375
      )
      translateY(0);
  }
  60% {
    transform: matrix(
        -0.9912608861923218,
        0.13191595673561096,
        -0.13191595673561096,
        -0.9912608861923218,
        467.6633605957031,
        250.3909912109375
      )
      translateY(30px);
  }
  100% {
    transform: matrix(
        -0.9912608861923218,
        0.13191595673561096,
        -0.13191595673561096,
        -0.9912608861923218,
        467.6633605957031,
        250.3909912109375
      )
      translateY(0);
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: matrix(1, 0, 0, 1, 813.094, 431.273) translateY(0);
  }
  40% {
    transform: matrix(1, 0, 0, 1, 813.094, 431.273) translateY(20px);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 813.094, 431.273) translateY(0);
  }
}
