body {
  background-color: #000;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#main {
  position: relative;
  z-index: 0;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.light .singleSkill {
  color: #ffffff;
}

.light .project-details {
  color: #000000;
}

.light #avatar img {
  background-color: #000000;
}

.light .project-image {
  border-bottom: 1px solid;
}

.light .single-project {
  background-color: #fff;
}

h2 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.App {
  text-align: center;
}

#dot {
  cursor: pointer;
}

#about {
  position: relative;
  overflow: hidden;
}

#particles {
  width: 100%;
  height: 100%;
}

#about .container {
  z-index: 1;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  overflow: hidden;
}

#avatar img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  object-fit: cover;
}

.about-content {
  font-size: 30px;
}

.about-content p {
  text-align: start;
}

#experience {
  padding-top: 50px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.floating {
  animation: floatAnimation 3s ease-in-out infinite;
}

.dif-floating {
  animation: float 3s ease-in-out infinite;
}

.react-floating {
  animation: react 3s ease-in-out infinite;
}

.dot {
  background-color: #cbd5e1;
  border-radius: 40px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 10px;
}

.company-wrap {
  border: 1px solid #1e293b;
  padding: 30px;
}

.company-wrap h3 {
  font-weight: 800;
}

.experience-wrap {
  height: 500px;
}

#menu {
  padding-top: 10px;
  background-color: rgb(15, 15, 15);
  position: fixed;
  width: 100vw;
  z-index: 9;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2px;
  padding-bottom: 15px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.menu-links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s;
}

.menu a:hover {
  text-decoration: underline;
}

.socials svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

#skills {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-wrap {
  gap: 2rem;
}

.singleSkill {
  background-color: rgb(15, 15, 15);
  width: auto;
  border-radius: 5px;
  gap: 0.75rem;
}

.singleSkill img {
  width: auto;
  height: 40px;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.single-project {
  border: 1px solid #1e293b;
  background-color: rgb(2 6 23);
  border-radius: 10px;
  overflow: hidden;
}

.project-image {
  position: relative;
}

.project-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0);
  opacity: 0;
  transition: all 0.3s;
}

.project-image:hover::after {
  opacity: 0.7;
}

.project-image:hover .project-links {
  opacity: 1;
}

.project-links {
  opacity: 0;
  position: absolute;
  top: calc(100% - 50%);
  left: calc(100% - 55%);
  z-index: 9;
}

.project-links svg {
  width: 35px;
  height: 35px;
  fill: #000;
}

.tech-stack p {
  margin-right: 10px;
  padding: 4px 7px;
  border-radius: 20px;
  color: rgb(0 123 255 / 1);
  font-weight: bold;
  background-color: transparent;
  border: 1px solid;
  font-size: 12px;
}

.project-details .content {
  min-height: 70px;
}

.project-details h3 {
  font-weight: 800;
}

.socials .gmail {
  width: 25px;
  height: 27px;
}

.about-content p {
  font-size: 20px;
}

.about-content p span:first-child {
  font-size: 25px;
}

.about-content p #name,
.about-content p #desc {
  font-size: 40px;
  font-weight: 1000;
}

.more-projects-btn a {
  background-color: rgb(15, 15, 15);
  padding: 15px 25px;
  border-radius: 6px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

@keyframes react {
  0% {
    transform: matrix(
        -0.9912608861923218,
        0.13191595673561096,
        -0.13191595673561096,
        -0.9912608861923218,
        467.6633605957031,
        250.3909912109375
      )
      translateY(0);
  }
  60% {
    transform: matrix(
        -0.9912608861923218,
        0.13191595673561096,
        -0.13191595673561096,
        -0.9912608861923218,
        467.6633605957031,
        250.3909912109375
      )
      translateY(30px);
  }
  100% {
    transform: matrix(
        -0.9912608861923218,
        0.13191595673561096,
        -0.13191595673561096,
        -0.9912608861923218,
        467.6633605957031,
        250.3909912109375
      )
      translateY(0);
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: matrix(1, 0, 0, 1, 813.094, 431.273) translateY(0);
  }
  40% {
    transform: matrix(1, 0, 0, 1, 813.094, 431.273) translateY(20px);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 813.094, 431.273) translateY(0);
  }
}

.accessibility-menu {
  width: 300px;
  height: 200px;
  background-color: rgb(15, 15, 15);
  left: -156px;
  top: 48px;
  font-size: 10px;
  padding: 20px;
}
